#landing {
    height: 100vh;
}

#heading {
    position: relative;
    top: 25%;
    width: max-content;
}

#heading .landingDescription {
    position: relative;
    top: 100px;
    color: var(--textColor);
    font-family: var(--descriptionFont);
    text-align: left;
    margin: auto;
    height: 100%;
    margin-left: 150px;
}

#videoContainer video {
    width: max-content;
    height: 450px;
    object-fit: cover;
    filter: brightness(75%);
    margin: 0;
}

#videoContainer {
    width: max-content;
    height: auto;
    margin: 0;
    float: right;
    margin-right: 50px;
}

@media only screen and (max-width: 480px) {
    #videoContainer {
        width: max-content;
    }
}



#heading .landingTitle {
    position: relative;
    top: 50px;
    width: max-content;
}

.contactBtn {
    background-color: transparent;
    border: 3px solid var(--headerColor);
    border-radius: 5px;
    bottom: 30px;
    cursor: pointer;
    font-family: var(--headerFont);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 25px 35px;
    float: left;
    margin-right: 200px;
    margin-top: 175px;
    color: var(--headerColor);
    transition: all .3s ease-in-out;
    margin-left: 150px;
}

.contactBtn:hover {
    background-color: gray;
    border: none;
    transition: .3s ease-in-out;
    color: white;
}

/* Mobile Config */
@media only screen and (max-width: 480px) {

    #heading .landingTitle {
        text-align: left;
        font-size: 3.2rem;
        margin: auto;
        width: 500px;
        margin-left: 30px;
    }

    #heading .landingDescription {
        max-width: max-content;
        text-align: left;
        margin: auto;
        font-size: 1rem;
        padding-left: 0;
        margin-left: 30px;
    }

    .contactBtn {
        padding: 10px 15px;
        font-size: 1rem;
        float: left;
        margin-left: 25px;
        margin-top: 150px;
        color: var(--headerColor);
    }
}