#landing {
    height: 100vh;
}

#heading {
    position: relative;
    top: 25%;
    width: max-content;
}

#heading .landingDescription {
    position: relative;
    top: 100px;
    color: var(--textColor);
    font-family: var(--descriptionFont);
    text-align: left;
    margin: auto;
    height: 100%;
    margin-left: 150px;
}

#videoContainer video {
    max-width: max-content;
    max-height: 450px;
    height: auto;
    object-fit: cover;
    filter: brightness(75%);
    margin: 0;
    min-width: 20px;
}

#videoContainer {
    position: relative;
    top: 50px;
    width: 100%;
    max-width: max-content;
    height: auto;
    margin: 0 auto;
    float: right;
    margin-right: 50px;
}

#heading .landingTitle {
    position: relative;
    top: 50px;
    width: max-content;
}

.contactBtn {
    background-color: transparent;
    border: 3px solid var(--headerColor);
    border-radius: 5px;
    bottom: 30px;
    cursor: pointer;
    font-family: var(--headerFont);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 25px 35px;
    float: left;
    margin-right: 200px;
    margin-top: 175px;
    color: var(--headerColor);
    transition: all .3s ease-in-out;
    margin-left: 150px;
}

.contactBtn:hover {
    background-color: gray;
    border: none;
    transition: .3s ease-in-out;
    color: white;
}