#landing {
    height: 100vh;
}

#heading {
    position: relative;
    top: 25%;
    width: max-content;
}

#heading .landingDescription {
    color: var(--textColor);
    font-family: var(--descriptionFont);
    text-align: left;
    margin: auto;
    height: 100%;
    margin-left: 50px;
}

#videoContainer video {
    max-width: 50vw;
    max-height: 450px;
    height: auto;
    object-fit: cover;
    filter: brightness(75%);
    margin: 0;
    min-width: 20px;
}

#videoContainer {
    position: relative;
    top: 200px;
    /* width: 100%; */
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    float: right;
    margin-right: 50px;
}

#heading .landingTitle {
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 50px;
    width: max-content;
}

a {
    text-decoration: none !important;
    width: max-content;
    vertical-align: top;
}

.downloadCV {
    background-color: transparent;
    border: 3px solid var(--headerColor);
    border-radius: 5px;
    bottom: 30px;
    cursor: pointer;
    font-family: var(--headerFont);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 25px 35px;
    float: left;
    margin-top: 50px;
    color: var(--headerColor);
    transition: all .3s ease-in-out;
    margin-left: 50px;
}

.contactBtn {
    background-color: transparent;
    border: 3px solid var(--headerColor);
    border-radius: 5px;
    bottom: 30px;
    cursor: pointer;
    font-family: var(--headerFont);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 25px 35px;
    float: left;
    margin-top: 50px;
    color: var(--headerColor);
    transition: all .3s ease-in-out;
    margin-left: 50px;
}

.contactBtn:hover, .downloadCV:hover {
    background-color: var(--headerColor);
    border: 3px solid var(--headerColor);
    transition: .3s ease-in-out;
    color: white;
}

/* Traditional Laptop Breakpoint */
@media only screen and (max-width: 1400px) {
    #heading .title {
        font-size: 55px;
    }
    #heading .landingDescription {
        font-size: 17px;
        width: 375px;
    }

    #heading .downloadCV {
        margin-left: 50px;
    }

    #heading .contactBtn, .downloadCV {
        margin-top: 25px;
        font-size: .9em;
        padding: 15px 25px;
    }
    #landing #videoContainer {
        margin-left: 25px;
        position: relative;
        top: 150px;
    }
    #landing #videoContainer video {
        height: 350px;
    }
}
/* ------------------------------------------------------------------ */

/* Keeping Video Element Fluid */
@media only screen and (max-width: 1060px) {
    #landing #videoContainer {
        position: relative;
        top: 210px;
    }
    #landing #videoContainer video {
        height: 250px;
    }
}
/* ------------------------------------------------------------------- */

/* Remove Video */
@media only screen and (max-width: 977px) {
    #landing #videoContainer {
        display: none;
    }

    #landing #heading .title {
        margin-left: 0;
    }
    #landing #heading .landingDescription {
        margin: 0;
        width: 100vw;   
        text-align: center;
    }

    #landing .downloadCV {
        margin-left: 50px;
    }
    
    #landing .contactBtn, .downloadCV {
        text-align: center;
        margin-left: 0;
        position: relative;
        top: 40px;
        float: none;
    }

    #landing #heading .Typewriter{
        width: 100vw;
        text-align: center;
    }
}
/* ------------------------------------------------------------------- */

/* Styling for Tablets etc */
@media only screen and (max-width: 800px) {
    #heading .landingDescription {
        text-align: left;
    }
}
/* ------------------------------------------------------------------- */

@media only screen and (max-width: 375px) {
    #heading .downloadCV {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 320px) {
    #heading .buttons {
        display: grid;
    }

    #heading .contactBtn {
        margin-top: 0;
    }

    #heading .contactBtn, .downloadCV {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}