#contact .contactContainer {
    position: fixed;
    z-index: 10;
    float: left;
}

#contact ul {
    list-style-type: none;
    border-left: hidden;
    padding: 10px;
}


#contact ul li {
    color: var(--textColor);
    margin-top: 10px;
    transition: .2s ease-in-out;
}

#contact ul li:hover {
    color: #571f0d;
}

/* Mobile Config */
@media only screen and (max-width: 480px) {
    #contact {
        display: none;
    }
}