#experience .jobTitle {
    font-family: var(--headerFont);
    font-size: 30px;
    text-align: left;
    color: var(--textColor);
    margin-left: 150px;
}

#experience .expDate {
    text-align: left;
    margin-left: 150px;
    font-family: var(--descriptionFont);
    color: var(--textColor);
}

#experience ul {
    columns: 3;
    width: 750px;
    margin: auto;
} 

#experience ul li {
    margin-left: 0;
    margin-bottom: 25px;
    line-height: 25px;
    vertical-align: middle;
    color: var(--textColor);
    list-style-type: none;
    border: 3px solid var(--headerColor);
    border-radius: 25px;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 300px;
}

#experience ul li:nth-child(2) {
    margin-left: 50px;
}

#experience ul li:nth-child(3) {
    margin-left: 100px;
}

/* Mobile Conig */
@media only screen and (max-width: 480px) {
    #experience .jobTitle {
        margin: auto;
        margin-top: 15px;
        text-align: center;
        width: 100%;
        font-size: 1.3rem;
    }

    #experience ul {
        columns: 1;
        margin-left: 0;
    }

    #experience ul li:nth-child(3) {
        margin-left: 0;
    }

    #experience ul li:nth-child(2) {
        margin-left: 0;
    }

    #experience ul li {
        border: none;
        vertical-align: auto;
        height: 125px;
        padding: 0;
        width: 300px;
    }

    #experience .expDate {
        margin-left: 30px;
    }

    #experience ul {
        max-width: 320px;
        text-align: center;
        list-style-type: none;
    }

    #experience ul li {
        margin-left: 0;
    }
}