#experience .jobTitle {
    font-family: var(--headerFont);
    font-size: 30px;
    text-align: left;
    margin-left: 150px;
}

#experience .expDate {
    text-align: left;
    margin-left: 150px;
    font-family: var(--descriptionFont);
    color: var(--headerColor);
}

#experience ul {
    columns: 1;
    width: 720px;
} 

#experience ul li {
    margin-bottom: 25px;
    color: var(--textColor);
}

/* Mobile Conig */
@media only screen and (max-width: 420px) {
    #experience .jobTitle {
        margin-left: 30px;
        max-width: 500px;
        font-size: 1.5rem;
    }

    #experience .expDate {
        margin-left: 30px;
    }

    #experience ul {
        max-width: 320px;
        text-align: center;
        list-style-type: none;
    }

    #experience ul li {
        margin-left: 0;
    }
}