#experience .jobTitle {
    font-family: var(--headerFont);
    font-size: 30px;
    text-align: left;
    color: var(--textColor);
    margin-left: 150px;
}

#experience .expDate {
    text-align: left;
    margin-left: 150px;
    font-family: var(--descriptionFont);
    color: var(--textColor);
}

#experience ul {
    columns: 3;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
} 

#experience ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 25px;
    line-height: 25px;
    color: var(--textColor);
    list-style-type: none;
    border: 3px solid var(--headerColor);
    border-radius: 25px;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: auto;
    height: 300px;
}

#experience ul li:nth-child(2) {
    margin-left: 50px;
}

#experience ul li:nth-child(3) {
    margin-left: 100px;
}