#projects {
    height: 750px;
}

#projects .title {
    width: max-content;
}

#projects .projectCard {
    position: relative;
    top: 75px;
    height: auto;
    max-width: 350px;
    margin: auto;
    border: 2px solid var(--headerColor);
    display: inline-block;
    margin-right: 25px;
}

#projects .projectCard .cardText {
    text-align: left;
    margin-left: 20px;
    font-family: var(--headerFont);
}

#projects .card-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#projects .folderIcon {
    color: var(--headerColor);
    padding: 15px;
    text-align: left;
}

#projects .cardText {
    color: var(--headerColor);
}

#projects .gitIcon {
    float: right;
    margin-right: 20px;
    color: var(--headerColor);
}

#projects .arrowIcon {
    float: left;
    margin-left: 20px;
    color: var(--headerColor);
}

#projects .cardDesc {
    color: var(--textColor);
    text-align: left;
    margin-left: 20px;
}

/* Traditional Laptop Breakpoint */
@media only screen and (max-width: 1240px) {
    #projects .title {
        font-size: 67px;
    }
}
/* ------------------------------------------------------------------ */

/* Keeping Video Element Fluid */
@media only screen and (max-width: 1060px) {
    #projects .title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        text-align: center;
    }

    #projects .projectCard {
        margin:100px 0 0 0;
    }
}
/* ------------------------------------------------------------------- */

/* Small Device Styles */
@media only screen and (max-width: 650px) {
    #projects .projectCard {
        width: 300px;
    }
    #projects .cardDesc {
        font-size: 12px;
    }
    #projects .fa-2x {
        font-size: 1.7em;
    }
}
/* ------------------------------------------------------------------- */

/* Smaller Phones */
@media only screen and (max-width: 430px) {
    #projects .title {
        font-size: 55px;
    }

    #projects .projectCard {
        margin: 75px 0 0 0;
        width: 250px;
    }

    #projects .fa-3x {
        font-size: 2.4em;
    }

    #projects .cardText {
        font-size: 1.3em;
    }

    #projects .fa-2x {
        font-size: 1.4em;
    }
}
/* ------------------------------------------------------------------- */