#videoContainer video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(50%);
    margin: 0;
}

#videoContainer {
    height: auto;
    margin: 0;
}

@media only screen and (max-width: 420px) {
    #videoContainer {
        width: fit-content;
    }
}

