@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arvo:wght@400;700&family=Kanit:wght@300;400;500&family=Mitr:wght@400;500&family=Rubik&family=Tilt+Warp&family=Viga&display=swap');

:root {
  --textColor: #616F39;
  --highlight: #A7D129;
  --descriptionFont: 'Rubik', sans-serif;
  --headerFont: 'Kanit', sans-serif;
}

.highlight {
  color: var(--highlight);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
