

:root {
  --headerColor: #865439;
  --textColor: gray;
  --highlight: #;
  --descriptionFont: 'Rubik', sans-serif;
  --headerFont: 'Kanit', sans-serif;
}

.highlight {
  color: var(--headerColor);
}

#container {
  margin-top: 250px;
}

.description {
  color: var(--textColor);
  font-family: var(--descriptionFont);
  text-align: left;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-left: 150px;
  margin-top: 50px;
  line-height: 25px;
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: var(--headerColor);
  font-size: 75px;
  font-family: var(--headerFont);
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-left: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 420px) {
  #container {
    margin-top: 300px;
  }

  .title {
    margin-left: 100px;
    font-size: 3.2rem;
    margin-left: 30px;
  }

  .description {
    margin-left: 100px;
  }
}