

#root {
  max-width: 100vw;
}

:root {
  --headerColor: #4ECCA3;
  --textColor: #EEEEEE;
  --highlight: #4ECCA3;
  --descriptionFont: 'Rubik', sans-serif;
  --headerFont: 'Kanit', sans-serif;
}

.highlight {
  color: var(--highlight);
}

#container {
  white-space: wrap;
  margin-top: 350px;
  max-width: 100vw;
}

section {
  max-width: 100vw;
}

.description {
  color: var(--textColor);
  font-family: var(--descriptionFont);
  text-align: left;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-left: 150px;
  margin-top: 50px;
  line-height: 25px;
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232931;
  padding: 0;
  box-sizing: border-box;
}

.title {
  white-space: wrap;
  color: var(--headerColor);
  font-size: 4.6875em;
  font-family: var(--headerFont);
  margin: auto;
  max-width: 100vw;
  margin-right: 0;
  height: 100%;
  text-align: left;
  margin-left: 150px;
}

#root .animate__animated {
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}