#container #about {
    height: 675px;
    background-color: #4ECCA3;
}

#container #About {
    writing-mode: vertical-rl;
    color: white;
    position: relative;
    bottom: 100px;
}

#container #AboutTop {
    display: none;
}

#container #about .description {
    float: right;
    margin-right: 95px;
    color: #232931;
    font-size: 24px;
    line-height: 35px;
}

#container ul {
    text-align: left;
    list-style-type: square;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    width: 350px;
}

#container ul li {
    font-family: var(--descriptionFont);
    color: var(--headerColor);
    font-size: 18px;
    margin-left: 125px;
}

#about .description {
    max-width: 790px;
}