#container #about {
    margin-top: 650px;
    height: 750px;
    background-color: #D65A31;
}

#container #About {
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    color: white;
    position: relative;
    bottom: 700px;
}

#container #AboutTop {
    display: none;
}

#container #about .description {
    float: right;
    margin-right: 95px;
    font-size: 24px;
    line-height: 35px;
}

#container ul {
    text-align: left;
    list-style-type: square;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 350px;
}

#container ul li {
    font-family: var(--descriptionFont);
    color: var(--headerColor);
    font-size: 18px;
    margin-left: 125px;
}

#about .description {
    max-width: 790px;
}

/* Mobile Config */
@media only screen and (max-width: 480px) {
    #about img {
        display: none;
    }

    #container #About {
        position: static;
        writing-mode: horizontal-tb;
        color: var(--headerColor);
        margin-bottom: 50px;
        display: none;
    }

    #container #AboutTop {
        display: block;
        position: static;
        writing-mode: horizontal-tb;
        color: var(--headerColor);
        margin-bottom: 50px;
    }

    #container #about .description {
        float: none;
        font-size: large;
        margin: auto;
        line-height: 25px;
    }

    #container #about {
        margin-top: 350px;
        width: 100%;
        background-color: transparent;
    }

    #about .description {
        text-align: center;
        font-size: 1rem;
        margin-left: 0px;
        max-width: fit-content;
    }

    #about ul li { 
        margin-left: 10px;
    }
}